# Import Dataset

We will import datasets here

# 1.Heading

## 2.Subheading

<p style="color:red">DwightKSchrute</p>

In [1]:
# pandas
import pandas as pd

In [3]:
df = pd.read_csv('web-show 250.csv')

In [4]:
df

,Unnamed: 0,names,relese_date,run_time,rating_tag,rating
0,0,1 Breaking Bad,2008–2013,62 eps,TV-MA,9.5
1,1,2 Planet Earth II,2016,6 eps,TV-G,9.5
2,2,3 Planet Earth,2006,11 eps,TV-PG,9.4
3,3,4 Band of Brothers,2001,10 eps,TV-MA,9.4
4,4,5 Chernobyl,2019,5 eps,TV-MA,9.3
...,...,...,...,...,...,...
245,245,21 The Vietnam War,2017,10 eps,TV-MA,9.1
246,246,22 Sherlock,2010–2017,15 eps,TV-14,9.1
247,247,23 Attack on Titan,2013–2023,98 eps,TV-MA,9.1
248,248,24 Batman: The Animated Series,1992–1995,85 eps,TV-PG,9.0
249,249,25 The Office,2005–2013,188 eps,TV-14,9.0